private skills/node-red-automation/templates/weather.json
[
    {
        "id": "weather_inject",
        "type": "inject",
        "z": "weather_tab",
        "name": "定時獲取天氣",
        "props": [{"p": "payload"}],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"city\":\"Hong Kong\"}",
        "payloadType": "json",
        "x": 150,
        "y": 100,
        "wires": [["weather_request"]]
    },
    {
        "id": "weather_request",
        "type": "http request",
        "z": "weather_tab",
        "name": "獲取天氣數據",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://wttr.in/{{payload.city}}?format=j1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 100,
        "wires": [["weather_parse"]]
    },
    {
        "id": "weather_parse",
        "type": "function",
        "z": "weather_tab",
        "name": "解析天氣",
        "func": "try {\n    const current = msg.payload.current_condition[0];\n    const city = msg.payload.nearest_area[0].areaName.value;\n    \n    msg.payload = {\n        location: city,\n        temperature: current.temp_C + '°C',\n        feels_like: current.FeelsLikeC + '°C',\n        humidity: current.humidity + '%',\n        wind: current.windspeedkmh + ' km/h',\n        condition: current.weatherDesc[0].value,\n        updated: new Date().toISOString()\n    };\n    \n    msg.topic = '天氣更新';\n    return msg;\n} catch(e) {\n    msg.payload = {error: e.message};\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [["weather_debug"]]
    },
    {
        "id": "weather_debug",
        "type": "debug",
        "z": "weather_tab",
        "name": "輸出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "weather_tab",
        "type": "tab",
        "label": "天氣監控",
        "disabled": false,
        "info": "定時獲取天氣數據"
    }
]