private skills/node-red-automation/templates/webhook.json
[
    {
        "id": "webhook_in",
        "type": "http in",
        "z": "webhook_tab",
        "name": "Webhook 接收",
        "url": "/webhook",
        "method": "post",
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [["webhook_json", "webhook_log"]]
    },
    {
        "id": "webhook_json",
        "type": "json",
        "z": "webhook_tab",
        "name": "JSON 解析",
        "action": "always",
        "property": "payload",
        "outProperty": "payload",
        "x": 320,
        "y": 100,
        "wires": [["webhook_switch"]]
    },
    {
        "id": "webhook_switch",
        "type": "switch",
        "z": "webhook_tab",
        "name": "事件分類",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "push", "vc": "string"},
            {"t": "eq", "v": "pull_request", "vc": "string"},
            {"t": "else"}
        ],
        "checkall": "false",
        "x": 490,
        "y": 100,
        "wires": [["webhook_handle_push"], ["webhook_handle_pr"], ["webhook_default"]]
    },
    {
        "id": "webhook_handle_push",
        "type": "function",
        "z": "webhook_tab",
        "name": "處理解 Push",
        "func": "msg.payload = {\n    action: 'push',\n    repo: msg.payload.repository.full_name,\n    branch: msg.payload.ref.replace('refs/heads/', ''),\n    commits: msg.payload.commits.length,\n    pusher: msg.payload.pusher.name\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 50,
        "wires": [["webhook_response"]]
    },
    {
        "id": "webhook_handle_pr",
        "type": "function",
        "z": "webhook_tab",
        "name": "處理 PR",
        "func": "msg.payload = {\n    action: 'pull_request',\n    repo: msg.payload.repository.full_name,\n    pr: msg.payload.number,\n    title: msg.payload.pull_request.title\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [["webhook_response"]]
    },
    {
        "id": "webhook_default",
        "type": "function",
        "z": "webhook_tab",
        "name": "默認處理",
        "func": "msg.payload = {action: 'unknown', data: msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 150,
        "wires": [["webhook_response"]]
    },
    {
        "id": "webhook_log",
        "type": "debug",
        "z": "webhook_tab",
        "name": "日誌",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "webhook_response",
        "type": "http response",
        "z": "webhook_tab",
        "name": "響應",
        "statusCode": "200",
        "headers": {},
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "webhook_tab",
        "type": "tab",
        "label": "Webhook 接收",
        "disabled": false,
        "info": "接收外部 webhook 請求"
    }
]