projects/six-loop-system/flows_backup_20260420_092523.json
[
  {
    "type": "tab",
    "label": "Flow 2: investing.com Scraper",
    "id": "d7c26b0fc8b18968",
    "info": "Scrapes NQ 100 data from investing.com every minute for backup verification",
    "disabled": false
  },
  {
    "id": "inject-1min",
    "type": "inject",
    "z": "d7c26b0fc8b18968",
    "name": "1 Minute Interval",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "fetch-nq100"
      ]
    ]
  },
  {
    "id": "fetch-nq100",
    "type": "http request",
    "z": "d7c26b0fc8b18968",
    "name": "Fetch NQ 100",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.investing.com/api/marketdata/v1/data/index/20",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHttps": false,
    "x": 280,
    "y": 100,
    "wires": [
      [
        "parse-investing-data"
      ],
      [
        "handle-http-error"
      ]
    ]
  },
  {
    "id": "parse-investing-data",
    "type": "function",
    "z": "d7c26b0fc8b18968",
    "name": "Parse Data",
    "func": "const response = msg.payload;\n\nif (!response || !response.data) {\n    node.warn('No data received from investing.com');\n    return null;\n}\n\nconst data = response.data;\nconst now = new Date();\n\nconst parsed = {\n    symbol: 'NQ100',\n    price: parseFloat(data.last) || parseFloat(data.price),\n    change_value: parseFloat(data.change) || 0,\n    change_percent: parseFloat(data.change_percent) || parseFloat(data.changePercent) || 0,\n    volume: parseInt(data.volume) || 0,\n    open_price: parseFloat(data.open) || 0,\n    high_price: parseFloat(data.high) || 0,\n    low_price: parseFloat(data.low) || 0,\n    close_price: parseFloat(data.close) || 0,\n    timestamp: now.toISOString(),\n    source: 'investing_com'\n};\n\nnode.status({ text: `Price: ${parsed.price}, Change: ${parsed.change_percent}%` });\n\nreturn { payload: parsed };",
    "outputs": 1,
    "x": 480,
    "y": 100,
    "wires": [
      [
        "write-backup-table"
      ]
    ]
  },
  {
    "id": "handle-http-error",
    "type": "function",
    "z": "d7c26b0fc8b18968",
    "name": "Handle HTTP Errors",
    "func": "if (msg.payload.statusCode && msg.payload.statusCode !== 200) {\n    node.error('HTTP Error: ' + msg.payload.statusCode + ' - ' + msg.payload.statusMessage);\n    // Log failed attempt\n    const errorLog = {\n        timestamp: new Date().toISOString(),\n        source: 'investing_scraper',\n        error: msg.payload.statusCode,\n        url: msg.url\n    };\n    node.warn(JSON.stringify(errorLog));\n}\nreturn null;",
    "outputs": 1,
    "x": 480,
    "y": 180,
    "wires": []
  },
  {
    "id": "write-backup-table",
    "type": "postgresql",
    "z": "d7c26b0fc8b18968",
    "name": "Write Backup Table",
    "postgresdb": "trading_db",
    "postgresdbtype": "postgresdb",
    "query": "INSERT INTO raw_market_data_backup (symbol, price, change_value, change_percent, volume, open_price, high_price, low_price, close_price, timestamp, source) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11)",
    "params": [
      "payload.symbol",
      "payload.price",
      "payload.change_value",
      "payload.change_percent",
      "payload.volume",
      "payload.open_price",
      "payload.high_price",
      "payload.low_price",
      "payload.close_price",
      "payload.timestamp",
      "payload.source"
    ],
    "x": 700,
    "y": 100,
    "wires": [
      [
        "debug-success"
      ]
    ]
  },
  {
    "id": "debug-success",
    "type": "debug",
    "z": "d7c26b0fc8b18968",
    "name": "Success Log",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "targetType": "msg",
    "x": 900,
    "y": 100,
    "wires": []
  },
  {
    "id": "market-hours-filter",
    "type": "function",
    "z": "d7c26b0fc8b18968",
    "name": "US Market Hours Only",
    "func": "const now = new Date();\nconst hour = now.getUTCHours();\n\n// US market hours: 14:30 - 21:00 UTC (9:30 AM - 4:00 PM EST)\nconst isMarketHours = (hour >= 14 && hour < 21);\n\nif (!isMarketHours) {\n    node.status({ text: 'Outside market hours - skipping', fill: 'grey', shape: 'ring' });\n    return null;\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 280,
    "y": 180,
    "wires": [
      [
        "fetch-nq100"
      ]
    ]
  },
  {
    "id": "daily-summary",
    "type": "inject",
    "z": "d7c26b0fc8b18968",
    "name": "Daily Summary",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "0 21:05 * * 1-5",
    "once": false,
    "onceDelay": "",
    "x": 100,
    "y": 260,
    "wires": [
      [
        "summary-query"
      ]
    ]
  },
  {
    "id": "summary-query",
    "type": "postgresql",
    "z": "d7c26b0fc8b18968",
    "name": "Query Daily Summary",
    "postgresdb": "trading_db",
    "postgresdbtype": "postgresdb",
    "query": "SELECT \n    symbol,\n    MAX(price) as high,\n    MIN(price) as low,\n    FIRST(price) as open,\n    LAST(price) as close,\n    MAX(volume) as volume\nFROM raw_market_data_backup\nWHERE source = 'investing_com'\n    AND timestamp >= CURRENT_DATE\n    AND timestamp < CURRENT_DATE + INTERVAL '1 day'\nGROUP BY symbol",
    "params": [],
    "x": 300,
    "y": 260,
    "wires": [
      [
        "debug-summary"
      ]
    ]
  },
  {
    "id": "debug-summary",
    "type": "debug",
    "z": "d7c26b0fc8b18968",
    "name": "Summary Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "full",
    "x": 520,
    "y": 260,
    "wires": []
  },
  {
    "type": "tab",
    "id": "69a5f8031c01df14"
  },
  {
    "id": "inject-absolute",
    "type": "inject",
    "name": "Every Minute",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "query-raw-data"
      ]
    ],
    "z": "69a5f8031c01df14"
  },
  {
    "id": "query-raw-data",
    "type": "postgresql",
    "z": "69a5f8031c01df14",
    "postgreSQLdb": "trading_db",
    "name": "Query raw_market_data",
    "query": "SELECT * FROM raw_market_data WHERE timestamp > NOW() - INTERVAL '5 minutes' ORDER BY timestamp DESC LIMIT 1",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "calculate-absolute"
      ]
    ]
  },
  {
    "id": "calculate-absolute",
    "type": "function",
    "z": "69a5f8031c01df14",
    "name": "Calculate Absolute Score",
    "func": "// Absolute Score Calculation\n// Weights: nq200ma(30%), nq50ma(30%), nq20ema50ema(20%), mtf(10%), market_phase(10%)\n\nconst weights = {\n    nq200ma: 0.30,\n    nq50ma: 0.30,\n    nq20ema50ema: 0.20,\n    mtf: 0.10,\n    market_phase: 0.10\n};\n\n// Default scores if no data (neutral = 50)\nlet nq200maScore = 50;\nlet nq50maScore = 50;\nlet nq20ema50emaScore = 50;\nlet mtfScore = 50;\nlet marketPhaseScore = 50;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    \n    // Calculate NQ200MA score (price vs 200MA)\n    // Score = 100 if price > 200MA, 0 if price < 200MA * 0.9, linear between\n    if (data.price && data.ma200) {\n        const ratio = data.price / data.ma200;\n        nq200maScore = Math.min(100, Math.max(0, (ratio - 0.9) * 1000));\n    }\n    \n    // Calculate NQ50MA score\n    if (data.price && data.ma50) {\n        const ratio = data.price / data.ma50;\n        nq50maScore = Math.min(100, Math.max(0, (ratio - 0.9) * 1000));\n    }\n    \n    // Calculate NQ20EMA vs NQ50EMA score\n    if (data.ema20 && data.ema50) {\n        nq20ema50emaScore = data.ema20 > data.ema50 ? 100 : 0;\n    }\n    \n    // MTF score from data\n    if (data.mtf_score !== undefined) {\n        mtfScore = data.mtf_score;\n    }\n    \n    // Market phase score\n    if (data.market_phase !== undefined) {\n        const phaseScores = { accumulation: 100, markup: 80, distribution: 20, markdown: 0 };\n        marketPhaseScore = phaseScores[data.market_phase] || 50;\n    }\n}\n\n// Calculate final weighted score\nconst finalScore = Math.round(\n    nq200maScore * weights.nq200ma +\n    nq50maScore * weights.nq50ma +\n    nq20ema50emaScore * weights.nq20ema50ema +\n    mtfScore * weights.mtf +\n    marketPhaseScore * weights.market_phase\n);\n\n// Determine trend direction\nlet trendDirection = 'sideways';\nif (finalScore >= 80) trendDirection = 'strong_bull';\nelse if (finalScore >= 60) trendDirection = 'bull';\nelse if (finalScore >= 40) trendDirection = 'weak';\nelse if (finalScore >= 20) trendDirection = 'bear';\nelse trendDirection = 'strong_bear';\n\nmsg.payload = {\n    nq200ma_score: Math.round(nq200maScore),\n    nq50ma_score: Math.round(nq50maScore),\n    nq20ema50ema_score: Math.round(nq20ema50emaScore),\n    mtf_score: Math.round(mtfScore),\n    market_phase_score: Math.round(marketPhaseScore),\n    final_absolute_score: finalScore,\n    trend_direction: trendDirection,\n    timestamp: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 100,
    "wires": [
      [
        "insert-absolute"
      ]
    ]
  },
  {
    "id": "insert-absolute",
    "type": "postgresql",
    "z": "69a5f8031c01df14",
    "postgreSQLdb": "trading_db",
    "name": "Insert to absolute_scores",
    "query": "INSERT INTO absolute_scores (nq200ma_score, nq50ma_score, nq20ema50ema_score, mtf_score, market_phase_score, final_absolute_score, trend_direction, timestamp) VALUES (${msg.payload.nq200ma_score}, ${msg.payload.nq50ma_score}, ${msg.payload.nq20ema50ema_score}, ${msg.payload.mtf_score}, ${msg.payload.market_phase_score}, ${msg.payload.final_absolute_score}, '${msg.payload.trend_direction}', '${msg.payload.timestamp}')",
    "x": 700,
    "y": 100,
    "wires": [
      [
        "debug-absolute"
      ]
    ]
  },
  {
    "id": "debug-absolute",
    "type": "debug",
    "z": "69a5f8031c01df14",
    "name": "Debug Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 900,
    "y": 100,
    "wires": []
  },
  {
    "type": "tab",
    "id": "2dc954370f1e7d9b"
  },
  {
    "id": "inject-reference",
    "type": "inject",
    "name": "Every Minute",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "query-raw-data-ref"
      ]
    ],
    "z": "2dc954370f1e7d9b"
  },
  {
    "id": "query-raw-data-ref",
    "type": "postgresql",
    "z": "2dc954370f1e7d9b",
    "postgreSQLdb": "trading_db",
    "name": "Query raw_market_data for Reference",
    "query": "SELECT * FROM raw_market_data WHERE timestamp > NOW() - INTERVAL '5 minutes' ORDER BY timestamp DESC LIMIT 1",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "calculate-reference"
      ]
    ]
  },
  {
    "id": "calculate-reference",
    "type": "function",
    "z": "2dc954370f1e7d9b",
    "name": "Calculate Reference Score",
    "func": "// Reference Score Calculation\n// Weights: components_breadth(20%), components_risk(10%), technical_rsi(15%), technical_atr(10%), technical_zscore(10%), technical_macd(5%), technical_divergence(5%), money_flow_futures(15%), money_flow_etf(10%)\n\nconst weights = {\n    components_breadth: 0.20,\n    components_risk: 0.10,\n    technical_rsi: 0.15,\n    technical_atr: 0.10,\n    technical_zscore: 0.10,\n    technical_macd: 0.05,\n    technical_divergence: 0.05,\n    money_flow_futures: 0.15,\n    money_flow_etf: 0.10\n};\n\n// Default scores if no data (neutral = 50)\nlet componentsBreadthScore = 50;\nlet componentsRiskScore = 50;\nlet technicalRsiScore = 50;\nlet technicalAtrScore = 50;\nlet technicalZscoreScore = 50;\nlet technicalMacdScore = 50;\nlet technicalDivergenceScore = 50;\nlet moneyFlowFuturesScore = 50;\nlet moneyFlowEtfScore = 50;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    \n    // Components: Breadth (percentage of stocks above moving average)\n    if (data.components_breadth !== undefined) {\n        componentsBreadthScore = Math.min(100, Math.max(0, data.components_breadth));\n    }\n    \n    // Components: Risk score\n    if (data.components_risk !== undefined) {\n        componentsRiskScore = 100 - Math.min(100, Math.max(0, data.components_risk));\n    }\n    \n    // Technical: RSI (30-70 neutral, above 70 = overbought, below 30 = oversold)\n    if (data.rsi !== undefined) {\n        if (data.rsi >= 70) technicalRsiScore = 100;\n        else if (data.rsi <= 30) technicalRsiScore = 0;\n        else technicalRsiScore = ((data.rsi - 30) / 40) * 100;\n    }\n    \n    // Technical: ATR (normalize to 0-100, lower is better for trend)\n    if (data.atr_percent !== undefined) {\n        technicalAtrScore = Math.min(100, Math.max(0, 100 - (data.atr_percent * 10)));\n    }\n    \n    // Technical: Z-Score (-2 to +2 normalized to 0-100)\n    if (data.zscore !== undefined) {\n        technicalZscoreScore = ((data.zscore + 2) / 4) * 100;\n        technicalZscoreScore = Math.min(100, Math.max(0, technicalZscoreScore));\n    }\n    \n    // Technical: MACD (positive histogram = bullish)\n    if (data.macd_histogram !== undefined) {\n        technicalMacdScore = data.macd_histogram > 0 ? 50 + (Math.min(50, data.macd_histogram * 100)) : 50 + (Math.max(-50, data.macd_histogram * 100));\n    }\n    \n    // Technical: Divergence (price vs indicator)\n    if (data.divergence !== undefined) {\n        const divergenceScores = { bullish: 100, neutral: 50, bearish: 0 };\n        technicalDivergenceScore = divergenceScores[data.divergence] || 50;\n    }\n    \n    // Money Flow: Futures (NQ futures position change)\n    if (data.futures_oi_change !== undefined) {\n        moneyFlowFuturesScore = Math.min(100, Math.max(0, 50 + data.futures_oi_change * 10));\n    }\n    \n    // Money Flow: ETF (TQQQ/QQQ inflow)\n    if (data.etf_inflow !== undefined) {\n        moneyFlowEtfScore = Math.min(100, Math.max(0, 50 + data.etf_inflow * 10));\n    }\n}\n\n// Calculate final weighted score\nconst finalScore = Math.round(\n    componentsBreadthScore * weights.components_breadth +\n    componentsRiskScore * weights.components_risk +\n    technicalRsiScore * weights.technical_rsi +\n    technicalAtrScore * weights.technical_atr +\n    technicalZscoreScore * weights.technical_zscore +\n    technicalMacdScore * weights.technical_macd +\n    technicalDivergenceScore * weights.technical_divergence +\n    moneyFlowFuturesScore * weights.money_flow_futures +\n    moneyFlowEtfScore * weights.money_flow_etf\n);\n\nmsg.payload = {\n    components_breadth_score: Math.round(componentsBreadthScore),\n    components_risk_score: Math.round(componentsRiskScore),\n    technical_rsi_score: Math.round(technicalRsiScore),\n    technical_atr_score: Math.round(technicalAtrScore),\n    technical_zscore_score: Math.round(technicalZscoreScore),\n    technical_macd_score: Math.round(technicalMacdScore),\n    technical_divergence_score: Math.round(technicalDivergenceScore),\n    money_flow_futures_score: Math.round(moneyFlowFuturesScore),\n    money_flow_etf_score: Math.round(moneyFlowEtfScore),\n    final_reference_score: finalScore,\n    timestamp: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 100,
    "wires": [
      [
        "insert-reference"
      ]
    ]
  },
  {
    "id": "insert-reference",
    "type": "postgresql",
    "z": "2dc954370f1e7d9b",
    "postgreSQLdb": "trading_db",
    "name": "Insert to reference_scores",
    "query": "INSERT INTO reference_scores (components_breadth_score, components_risk_score, technical_rsi_score, technical_atr_score, technical_zscore_score, technical_macd_score, technical_divergence_score, money_flow_futures_score, money_flow_etf_score, final_reference_score, timestamp) VALUES (${msg.payload.components_breadth_score}, ${msg.payload.components_risk_score}, ${msg.payload.technical_rsi_score}, ${msg.payload.technical_atr_score}, ${msg.payload.technical_zscore_score}, ${msg.payload.technical_macd_score}, ${msg.payload.technical_divergence_score}, ${msg.payload.money_flow_futures_score}, ${msg.payload.money_flow_etf_score}, ${msg.payload.final_reference_score}, '${msg.payload.timestamp}')",
    "x": 700,
    "y": 100,
    "wires": [
      [
        "debug-reference"
      ]
    ]
  },
  {
    "id": "debug-reference",
    "type": "debug",
    "z": "2dc954370f1e7d9b",
    "name": "Debug Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 900,
    "y": 100,
    "wires": []
  },
  {
    "type": "tab",
    "label": "Flow 1: Futu OpenD Data Collection",
    "id": "f8236653e41e7d35",
    "info": "Collects NQ 100 (MNQ) real-time data from Futu OpenD WebSocket and writes to PostgreSQL",
    "disabled": false
  },
  {
    "id": "inject-5sec",
    "type": "inject",
    "z": "f8236653e41e7d35",
    "name": "5 Second Heartbeat",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "check-connection"
      ]
    ]
  },
  {
    "id": "check-connection",
    "type": "function",
    "z": "f8236653e41e7d35",
    "name": "Check/Init Connection",
    "func": "let futu = global.get('futuClient');\nif (!futu || !futu.connected) {\n    global.set('futuNeedConnect', true);\n    return { payload: { action: 'connect' } };\n}\nglobal.set('futuNeedConnect', false);\nreturn { payload: { action: 'subscribe', symbols: ['MNQ'] } };",
    "outputs": 1,
    "x": 300,
    "y": 100,
    "wires": [
      [
        "futu-websocket"
      ]
    ]
  },
  {
    "id": "futu-websocket",
    "type": "websocket client",
    "z": "f8236653e41e7d35",
    "name": "Futu OpenD WS",
    "url": "ws://127.0.0.1:11111",
    "client": "futu-client",
    "usetls": false,
    "verifyservercert": true,
    "x": 540,
    "y": 100,
    "wires": [
      [
        "parse-futu-data"
      ],
      [
        "handle-futu-error"
      ]
    ]
  },
  {
    "id": "parse-futu-data",
    "type": "function",
    "z": "f8236653e41e7d35",
    "name": "Parse Futu Data",
    "func": "const data = msg.payload;\n\n// Handle different message types from Futu OpenD\nif (data.type === 'quote' && data.symbol === 'MNQ') {\n    const parsed = {\n        symbol: 'MNQ',\n        price: data.last || data.price,\n        open_price: data.open,\n        high_price: data.high,\n        low_price: data.low,\n        volume: data.volume || data.vol,\n        turnover: data.turnover,\n        open_interest: data.openInterest || data.oi,\n        bid_price: data.bid1,\n        ask_price: data.ask1,\n        bid_volume: data.bidVol1,\n        ask_volume: data.askVol1,\n        timestamp: new Date(data.time || Date.now()).toISOString(),\n        source: 'futu_opend',\n        data_type: 'tick',\n        metadata: JSON.stringify({\n            security_type: data.securityType,\n            exchange: data.exchange,\n            lot_size: data.lotSize\n        })\n    };\n    return { payload: parsed };\n}\n\nreturn null;",
    "outputs": 1,
    "x": 740,
    "y": 100,
    "wires": [
      [
        "write-postgres"
      ]
    ]
  },
  {
    "id": "handle-futu-error",
    "type": "function",
    "z": "f8236653e41e7d35",
    "name": "Handle Errors",
    "func": "if (msg.payload.error) {\n    node.error('Futu OpenD Error: ' + msg.payload.error);\n    // Attempt reconnection after error\n    setTimeout(() => {\n        global.set('futuNeedConnect', true);\n    }, 5000);\n}\nreturn null;",
    "outputs": 1,
    "x": 740,
    "y": 180,
    "wires": []
  },
  {
    "id": "write-postgres",
    "type": "postgresql",
    "z": "f8236653e41e7d35",
    "name": "Write to PostgreSQL",
    "postgresdb": "trading_db",
    "postgresdbtype": "postgresdb",
    "query": "INSERT INTO raw_market_data (symbol, price, open_price, high_price, low_price, volume, turnover, open_interest, bid_price, ask_price, bid_volume, ask_volume, timestamp, source, data_type, metadata) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16)",
    "params": [
      "payload.symbol",
      "payload.price",
      "payload.open_price",
      "payload.high_price",
      "payload.low_price",
      "payload.volume",
      "payload.turnover",
      "payload.open_interest",
      "payload.bid_price",
      "payload.ask_price",
      "payload.bid_volume",
      "payload.ask_volume",
      "payload.timestamp",
      "payload.source",
      "payload.data_type",
      "payload.metadata"
    ],
    "x": 940,
    "y": 100,
    "wires": []
  },
  {
    "id": "status-monitor",
    "type": "status",
    "z": "f8236653e41e7d35",
    "name": "Status Monitor",
    "scope": null,
    "x": 120,
    "y": 260,
    "wires": [
      [
        "status-log"
      ]
    ]
  },
  {
    "id": "status-log",
    "type": "debug",
    "z": "f8236653e41e7d35",
    "name": "Status Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 300,
    "y": 260,
    "wires": []
  },
  {
    "id": "daily-reset",
    "type": "inject",
    "z": "f8236653e41e7d35",
    "name": "Daily Connection Reset",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "0 8 * * 1-5",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 180,
    "wires": [
      [
        "check-connection"
      ]
    ]
  }
]