projects/six-loop-system/flows/flow8-reference-calc.json
{
  "id": "flow8-reference-calc",
  "name": "Reference Score Calculation",
  "priority": 8,
  "nodes": [
    {
      "id": "inject-reference",
      "type": "inject",
      "name": "Every Minute",
      "repeat": "60",
      "crontab": "",
      "once": false,
      "onceDelay": "0",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 100,
      "y": 100,
      "wires": [
        ["query-raw-data-ref"]
      ]
    },
    {
      "id": "query-raw-data-ref",
      "type": "postgresql",
      "z": "flow8-reference-calc",
      "postgreSQLdb": "trading_db",
      "name": "Query raw_market_data for Reference",
      "query": "SELECT * FROM raw_market_data WHERE timestamp > NOW() - INTERVAL '5 minutes' ORDER BY timestamp DESC LIMIT 1",
      "x": 250,
      "y": 100,
      "wires": [
        ["calculate-reference"]
      ]
    },
    {
      "id": "calculate-reference",
      "type": "function",
      "z": "flow8-reference-calc",
      "name": "Calculate Reference Score",
      "func": "// Reference Score Calculation\n// Weights: components_breadth(20%), components_risk(10%), technical_rsi(15%), technical_atr(10%), technical_zscore(10%), technical_macd(5%), technical_divergence(5%), money_flow_futures(15%), money_flow_etf(10%)\n\nconst weights = {\n    components_breadth: 0.20,\n    components_risk: 0.10,\n    technical_rsi: 0.15,\n    technical_atr: 0.10,\n    technical_zscore: 0.10,\n    technical_macd: 0.05,\n    technical_divergence: 0.05,\n    money_flow_futures: 0.15,\n    money_flow_etf: 0.10\n};\n\n// Default scores if no data (neutral = 50)\nlet componentsBreadthScore = 50;\nlet componentsRiskScore = 50;\nlet technicalRsiScore = 50;\nlet technicalAtrScore = 50;\nlet technicalZscoreScore = 50;\nlet technicalMacdScore = 50;\nlet technicalDivergenceScore = 50;\nlet moneyFlowFuturesScore = 50;\nlet moneyFlowEtfScore = 50;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    \n    // Components: Breadth (percentage of stocks above moving average)\n    if (data.components_breadth !== undefined) {\n        componentsBreadthScore = Math.min(100, Math.max(0, data.components_breadth));\n    }\n    \n    // Components: Risk score\n    if (data.components_risk !== undefined) {\n        componentsRiskScore = 100 - Math.min(100, Math.max(0, data.components_risk));\n    }\n    \n    // Technical: RSI (30-70 neutral, above 70 = overbought, below 30 = oversold)\n    if (data.rsi !== undefined) {\n        if (data.rsi >= 70) technicalRsiScore = 100;\n        else if (data.rsi <= 30) technicalRsiScore = 0;\n        else technicalRsiScore = ((data.rsi - 30) / 40) * 100;\n    }\n    \n    // Technical: ATR (normalize to 0-100, lower is better for trend)\n    if (data.atr_percent !== undefined) {\n        technicalAtrScore = Math.min(100, Math.max(0, 100 - (data.atr_percent * 10)));\n    }\n    \n    // Technical: Z-Score (-2 to +2 normalized to 0-100)\n    if (data.zscore !== undefined) {\n        technicalZscoreScore = ((data.zscore + 2) / 4) * 100;\n        technicalZscoreScore = Math.min(100, Math.max(0, technicalZscoreScore));\n    }\n    \n    // Technical: MACD (positive histogram = bullish)\n    if (data.macd_histogram !== undefined) {\n        technicalMacdScore = data.macd_histogram > 0 ? 50 + (Math.min(50, data.macd_histogram * 100)) : 50 + (Math.max(-50, data.macd_histogram * 100));\n    }\n    \n    // Technical: Divergence (price vs indicator)\n    if (data.divergence !== undefined) {\n        const divergenceScores = { bullish: 100, neutral: 50, bearish: 0 };\n        technicalDivergenceScore = divergenceScores[data.divergence] || 50;\n    }\n    \n    // Money Flow: Futures (NQ futures position change)\n    if (data.futures_oi_change !== undefined) {\n        moneyFlowFuturesScore = Math.min(100, Math.max(0, 50 + data.futures_oi_change * 10));\n    }\n    \n    // Money Flow: ETF (TQQQ/QQQ inflow)\n    if (data.etf_inflow !== undefined) {\n        moneyFlowEtfScore = Math.min(100, Math.max(0, 50 + data.etf_inflow * 10));\n    }\n}\n\n// Calculate final weighted score\nconst finalScore = Math.round(\n    componentsBreadthScore * weights.components_breadth +\n    componentsRiskScore * weights.components_risk +\n    technicalRsiScore * weights.technical_rsi +\n    technicalAtrScore * weights.technical_atr +\n    technicalZscoreScore * weights.technical_zscore +\n    technicalMacdScore * weights.technical_macd +\n    technicalDivergenceScore * weights.technical_divergence +\n    moneyFlowFuturesScore * weights.money_flow_futures +\n    moneyFlowEtfScore * weights.money_flow_etf\n);\n\nmsg.payload = {\n    components_breadth_score: Math.round(componentsBreadthScore),\n    components_risk_score: Math.round(componentsRiskScore),\n    technical_rsi_score: Math.round(technicalRsiScore),\n    technical_atr_score: Math.round(technicalAtrScore),\n    technical_zscore_score: Math.round(technicalZscoreScore),\n    technical_macd_score: Math.round(technicalMacdScore),\n    technical_divergence_score: Math.round(technicalDivergenceScore),\n    money_flow_futures_score: Math.round(moneyFlowFuturesScore),\n    money_flow_etf_score: Math.round(moneyFlowEtfScore),\n    final_reference_score: finalScore,\n    timestamp: new Date()\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 450,
      "y": 100,
      "wires": [
        ["insert-reference"]
      ]
    },
    {
      "id": "insert-reference",
      "type": "postgresql",
      "z": "flow8-reference-calc",
      "postgreSQLdb": "trading_db",
      "name": "Insert to reference_scores",
      "query": "INSERT INTO reference_scores (components_breadth_score, components_risk_score, technical_rsi_score, technical_atr_score, technical_zscore_score, technical_macd_score, technical_divergence_score, money_flow_futures_score, money_flow_etf_score, final_reference_score, timestamp) VALUES (${msg.payload.components_breadth_score}, ${msg.payload.components_risk_score}, ${msg.payload.technical_rsi_score}, ${msg.payload.technical_atr_score}, ${msg.payload.technical_zscore_score}, ${msg.payload.technical_macd_score}, ${msg.payload.technical_divergence_score}, ${msg.payload.money_flow_futures_score}, ${msg.payload.money_flow_etf_score}, ${msg.payload.final_reference_score}, '${msg.payload.timestamp}')",
      "x": 700,
      "y": 100,
      "wires": [
        ["debug-reference"]
      ]
    },
    {
      "id": "debug-reference",
      "type": "debug",
      "z": "flow8-reference-calc",
      "name": "Debug Output",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "x": 900,
      "y": 100,
      "wires": []
    }
  ],
  "config": {
    "postgreSQL": {
      "host": "localhost",
      "port": 5432,
      "database": "trading_db",
      "user": "postgres",
      "password": "PostgresqL"
    }
  },
  "metadata": {
    "version": "1.0.0",
    "created": "2026-04-20",
    "description": "Flow 8: Reference Score Calculation - calculates weighted reference score from market data",
    "weights": {
      "components_breadth": 20,
      "components_risk": 10,
      "technical_rsi": 15,
      "technical_atr": 10,
      "technical_zscore": 10,
      "technical_macd": 5,
      "technical_divergence": 5,
      "money_flow_futures": 15,
      "money_flow_etf": 10
    }
  }
}