projects/six-loop-system/flows/flow1-futu-opend.json
{
  "id": "futu-data-collection",
  "type": "tab",
  "label": "Flow 1: Futu OpenD Data Collection",
  "disabled": false,
  "info": "Collects NQ 100 (MNQ) real-time data from Futu OpenD WebSocket and writes to PostgreSQL",
  "nodes": [
    {
      "id": "inject-5sec",
      "type": "inject",
      "z": "futu-data-collection",
      "name": "5 Second Heartbeat",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "5",
      "crontab": "",
      "once": true,
      "onceDelay": "1",
      "x": 120,
      "y": 100,
      "wires": [
        ["check-connection"]
      ]
    },
    {
      "id": "check-connection",
      "type": "function",
      "z": "futu-data-collection",
      "name": "Check/Init Connection",
      "func": "let futu = global.get('futuClient');\nif (!futu || !futu.connected) {\n    global.set('futuNeedConnect', true);\n    return { payload: { action: 'connect' } };\n}\nglobal.set('futuNeedConnect', false);\nreturn { payload: { action: 'subscribe', symbols: ['MNQ'] } };",
      "outputs": 1,
      "x": 300,
      "y": 100,
      "wires": [
        ["futu-websocket"]
      ]
    },
    {
      "id": "futu-websocket",
      "type": "websocket client",
      "z": "futu-data-collection",
      "name": "Futu OpenD WS",
      "url": "ws://127.0.0.1:11111",
      "client": "futu-client",
      "usetls": false,
      "verifyservercert": true,
      "x": 540,
      "y": 100,
      "wires": [
        ["parse-futu-data"],
        ["handle-futu-error"]
      ]
    },
    {
      "id": "parse-futu-data",
      "type": "function",
      "z": "futu-data-collection",
      "name": "Parse Futu Data",
      "func": "const data = msg.payload;\n\n// Handle different message types from Futu OpenD\nif (data.type === 'quote' && data.symbol === 'MNQ') {\n    const parsed = {\n        symbol: 'MNQ',\n        price: data.last || data.price,\n        open_price: data.open,\n        high_price: data.high,\n        low_price: data.low,\n        volume: data.volume || data.vol,\n        turnover: data.turnover,\n        open_interest: data.openInterest || data.oi,\n        bid_price: data.bid1,\n        ask_price: data.ask1,\n        bid_volume: data.bidVol1,\n        ask_volume: data.askVol1,\n        timestamp: new Date(data.time || Date.now()).toISOString(),\n        source: 'futu_opend',\n        data_type: 'tick',\n        metadata: JSON.stringify({\n            security_type: data.securityType,\n            exchange: data.exchange,\n            lot_size: data.lotSize\n        })\n    };\n    return { payload: parsed };\n}\n\nreturn null;",
      "outputs": 1,
      "x": 740,
      "y": 100,
      "wires": [
        ["write-postgres"]
      ]
    },
    {
      "id": "handle-futu-error",
      "type": "function",
      "z": "futu-data-collection",
      "name": "Handle Errors",
      "func": "if (msg.payload.error) {\n    node.error('Futu OpenD Error: ' + msg.payload.error);\n    // Attempt reconnection after error\n    setTimeout(() => {\n        global.set('futuNeedConnect', true);\n    }, 5000);\n}\nreturn null;",
      "outputs": 1,
      "x": 740,
      "y": 180,
      "wires": []
    },
    {
      "id": "write-postgres",
      "type": "postgresql",
      "z": "futu-data-collection",
      "name": "Write to PostgreSQL",
      "postgresdb": "trading_db",
      "postgresdbtype": "postgresdb",
      "query": "INSERT INTO raw_market_data (symbol, price, open_price, high_price, low_price, volume, turnover, open_interest, bid_price, ask_price, bid_volume, ask_volume, timestamp, source, data_type, metadata) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16)",
      "params": [
        "payload.symbol",
        "payload.price",
        "payload.open_price",
        "payload.high_price",
        "payload.low_price",
        "payload.volume",
        "payload.turnover",
        "payload.open_interest",
        "payload.bid_price",
        "payload.ask_price",
        "payload.bid_volume",
        "payload.ask_volume",
        "payload.timestamp",
        "payload.source",
        "payload.data_type",
        "payload.metadata"
      ],
      "x": 940,
      "y": 100,
      "wires": []
    },
    {
      "id": "status-monitor",
      "type": "status",
      "z": "futu-data-collection",
      "name": "Status Monitor",
      "scope": null,
      "x": 120,
      "y": 260,
      "wires": [
        ["status-log"]
      ]
    },
    {
      "id": "status-log",
      "type": "debug",
      "z": "futu-data-collection",
      "name": "Status Log",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 300,
      "y": 260,
      "wires": []
    },
    {
      "id": "daily-reset",
      "type": "inject",
      "z": "futu-data-collection",
      "name": "Daily Connection Reset",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "",
      "crontab": "0 8 * * 1-5",
      "once": false,
      "onceDelay": "",
      "x": 120,
      "y": 180,
      "wires": [
        ["check-connection"]
      ]
    }
  ],
  "config": {
    "postgresdb-trading_db": {
      "host": "localhost",
      "port": "5432",
      "db": "trading_db",
      "user": "postgres",
      "password": "PostgresqL"
    }
  },
  "settings": {
    "pause": false,
    "exportNodeComments": true
  },
  "notes": "Flow 1: Futu OpenD Data Collection\n- Connects to Futu OpenD WebSocket on port 11111\n- Subscribes to MNQ (NQ 100 Mini) real-time data\n- Writes tick data to PostgreSQL every 5 seconds\n- Auto-reconnects on error"
}
