projects/six-loop-system/node-red/flows/calculate_reference_score.json
[
    {
        "id": "inject-trigger",
        "type": "inject",
        "z": "flow",
        "name": "Daily Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400000",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            ["postgres-read"]
        ]
    },
    {
        "id": "postgres-read",
        "type": "postgresdb",
        "z": "flow",
        "name": "Read NQ100 Top 50",
        "query": "SELECT * FROM nq100_stocks LIMIT 50;",
        "postgresdb": "your_postgres_config",
        "output": true,
        "x": 300,
        "y": 100,
        "wires": [
            ["function-calculate"]
        ]
    },
    {
        "id": "function-calculate",
        "type": "function",
        "z": "flow",
        "name": "Calculate Reference Score",
        "func": "// Assuming msg.payload is an array of stock data\n// Each item: { symbol, price, volume, rsi, macd, bb_upper, bb_lower, up_days, down_days, price_change }\n\nvar stocks = msg.payload;\nvar totalStocks = stocks.length;\n\nvar strongWeakRatio = 0;\nvar techIndicators = 0;\nvar fundFlow = 0;\n\nstocks.forEach(function(stock) {\n    // 成份股強弱比例: (up_days / (up_days + down_days)) averaged\n    if (stock.up_days + stock.down_days > 0) {\n        strongWeakRatio += stock.up_days / (stock.up_days + stock.down_days);\n    }\n    \n    // 技術指標: average of normalized RSI (0-100), MACD signal, BB position\n    var rsiNorm = stock.rsi / 100;\n    var macdNorm = stock.macd > 0 ? 1 : 0; // simplified\n    var bbNorm = (stock.price - stock.bb_lower) / (stock.bb_upper - stock.bb_lower); // position in band\n    techIndicators += (rsiNorm + macdNorm + bbNorm) / 3;\n    \n    // 資金流指標: volume change and price change normalized\n    fundFlow += (stock.volume_change / stock.avg_volume) + (stock.price_change / stock.price);\n});\n\nstrongWeakRatio /= totalStocks;\ntechIndicators /= totalStocks;\nfundFlow /= totalStocks;\n\n// Normalize to 0-1 scale\ntechIndicators /= 3; // since averaged 3 indicators\nfundFlow /= 2; // volume and price\n\n// Final Score: 30% strongWeak + 40% tech + 30% fundFlow\nvar referenceScore = (strongWeakRatio * 0.3) + (techIndicators * 0.4) + (fundFlow * 0.3);\n\nmsg.payload = {\n    date: new Date(),\n    reference_score: referenceScore,\n    components: {\n        strong_weak_ratio: strongWeakRatio,\n        tech_indicators: techIndicators,\n        fund_flow: fundFlow\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            ["postgres-insert"]
        ]
    },
    {
        "id": "postgres-insert",
        "type": "postgresdb",
        "z": "flow",
        "name": "Insert Reference Score",
        "query": "INSERT INTO reference_scores (date, reference_score, strong_weak_ratio, tech_indicators, fund_flow) VALUES ($1, $2, $3, $4, $5);",
        "postgresdb": "your_postgres_config",
        "output": false,
        "x": 700,
        "y": 100,
        "wires": []
    }
]