projects/six-loop-system/node-red/flows/calculate_absolute_score.json
{
  "id": "calculate-absolute-score-flow",
  "type": "tab",
  "label": "Calculate Absolute Score Flow",
  "disabled": false,
  "info": "Calculate Absolute Score from PostgreSQL data",
  "env": [],
  "nodes": [
    {
      "id": "inject-daily-abs",
      "type": "inject",
      "z": "calculate-absolute-score-flow",
      "name": "Daily Trigger",
      "payload": "",
      "payloadType": "date",
      "repeat": "86400000",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 120,
      "y": 80,
      "wires": [["postgres-query-nq100"]]
    },
    {
      "id": "postgres-query-nq100",
      "type": "postgres",
      "z": "calculate-absolute-score-flow",
      "name": "Query NQ100 Data",
      "query": "SELECT date, price, ma200, ma50, ema20, ema50, mtf_trend, market_phase FROM nq100_prices ORDER BY date DESC LIMIT 1;",
      "outputs": 1,
      "split": false,
      "x": 320,
      "y": 80,
      "wires": [["func-calc-abs"]]
    },
    {
      "id": "func-calc-abs",
      "type": "function",
      "z": "calculate-absolute-score-flow",
      "name": "Calculate Absolute Score",
      "func": "// Calculate indicators and absolute score\nlet data = msg.payload.rows[0]; // Assume single row\n\n// Indicator calculations (score -1 to 1)\nlet nq_vs_200ma = data.price > data.ma200 ? 1 : -1;\nlet nq_vs_50ma = data.price > data.ma50 ? 1 : -1;\nlet ema20_vs_50 = data.ema20 > data.ema50 ? 1 : -1;\nlet mtf_trend = data.mtf_trend === 'bullish' ? 1 : -1; // Assume mtf_trend is string\nlet market_phase = data.market_phase === 'bull' ? 1 : -1; // Assume market_phase is string\n\n// Weighted sum\nlet absolute_score = (nq_vs_200ma * 0.3) + (nq_vs_50ma * 0.3) + (ema20_vs_50 * 0.2) + (mtf_trend * 0.1) + (market_phase * 0.1);\n\n// Normalize to 0-100\nabsolute_score = (absolute_score + 1) * 50; // From -1 to 1 -> 0 to 100\n\nmsg.payload = {\n  date: data.date,\n  absolute_score: absolute_score\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 520,
      "y": 80,
      "wires": [["postgres-insert-abs"]]
    },
    {
      "id": "postgres-insert-abs",
      "type": "postgres",
      "z": "calculate-absolute-score-flow",
      "name": "Insert Absolute Score",
      "query": "INSERT INTO absolute_scores (date, score) VALUES ($1, $2);",
      "outputs": 1,
      "split": false,
      "x": 720,
      "y": 80,
      "wires": []
    }
  ]
}