projects/six-loop-system/node-red/flows/six_loop_system.json
[
    {
        "id": "six-loop-system-main",
        "label": "Six Loop System Main Flow",
        "disabled": false,
        "info": "Main flow integrating sub-flows for the six loop system.",
        "env": [],
        "nodes": [
            {
                "id": "inject_00_00",
                "type": "inject",
                "z": "six-loop-system-main",
                "name": "Daily 00:00 - Update Constituents",
                "props": [
                    {
                        "p": "payload"
                    },
                    {
                        "p": "topic",
                        "vt": "str"
                    }
                ],
                "repeat": "0 0 * * *",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "start_update_constituents",
                "payload": "",
                "payloadType": "str",
                "x": 120,
                "y": 100,
                "wires": [
                    [
                        "subflow_update"
                    ]
                ]
            },
            {
                "id": "inject_00_30",
                "type": "inject",
                "z": "six-loop-system-main",
                "name": "Daily 00:30 - Calculate Scores",
                "props": [
                    {
                        "p": "payload"
                    },
                    {
                        "p": "topic",
                        "vt": "str"
                    }
                ],
                "repeat": "30 0 * * *",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "start_calculate_scores",
                "payload": "",
                "payloadType": "str",
                "x": 120,
                "y": 200,
                "wires": [
                    [
                        "subflow_ref"
                    ],
                    [
                        "subflow_abs"
                    ]
                ]
            },
            {
                "id": "inject_01_00",
                "type": "inject",
                "z": "six-loop-system-main",
                "name": "Daily 01:00 - Decision Engine",
                "props": [
                    {
                        "p": "payload"
                    },
                    {
                        "p": "topic",
                        "vt": "str"
                    }
                ],
                "repeat": "0 1 * * *",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "start_decision_engine",
                "payload": "",
                "payloadType": "str",
                "x": 120,
                "y": 300,
                "wires": [
                    [
                        "subflow_decision"
                    ]
                ]
            },
            {
                "id": "subflow_update",
                "type": "subflow",
                "z": "six-loop-system-main",
                "name": "Update Constituents",
                "subflow": "update_constituents",
                "env": [],
                "x": 320,
                "y": 100,
                "wires": [
                    [
                        "debug_success",
                        "ui_status_update"
                    ]
                ]
            },
            {
                "id": "subflow_ref",
                "type": "subflow",
                "z": "six-loop-system-main",
                "name": "Calculate Reference Score",
                "subflow": "calculate_reference_score",
                "env": [],
                "x": 320,
                "y": 180,
                "wires": [
                    [
                        "debug_success",
                        "ui_status_ref"
                    ]
                ]
            },
            {
                "id": "subflow_abs",
                "type": "subflow",
                "z": "six-loop-system-main",
                "name": "Calculate Absolute Score",
                "subflow": "calculate_absolute_score",
                "env": [],
                "x": 320,
                "y": 220,
                "wires": [
                    [
                        "debug_success",
                        "ui_status_abs"
                    ]
                ]
            },
            {
                "id": "subflow_decision",
                "type": "subflow",
                "z": "six-loop-system-main",
                "name": "Decision Engine",
                "subflow": "decision_engine",
                "env": [],
                "x": 320,
                "y": 300,
                "wires": [
                    [
                        "debug_success",
                        "ui_status_decision"
                    ]
                ]
            },
            {
                "id": "catch_errors",
                "type": "catch",
                "z": "six-loop-system-main",
                "name": "Catch Errors",
                "scope": [
                    "subflow_update",
                    "subflow_ref",
                    "subflow_abs",
                    "subflow_decision"
                ],
                "uncaught": false,
                "x": 500,
                "y": 400,
                "wires": [
                    [
                        "debug_error"
                    ]
                ]
            },
            {
                "id": "debug_success",
                "type": "debug",
                "z": "six-loop-system-main",
                "name": "Log Success",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 550,
                "y": 200,
                "wires": []
            },
            {
                "id": "debug_error",
                "type": "debug",
                "z": "six-loop-system-main",
                "name": "Log Errors",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "error.message",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 550,
                "y": 400,
                "wires": []
            },
            {
                "id": "tab_dashboard",
                "type": "ui_tab",
                "z": "",
                "name": "System Status Dashboard",
                "icon": "dashboard",
                "order": 1,
                "disabled": false,
                "hidden": false
            },
            {
                "id": "group_status",
                "type": "ui_group",
                "z": "",
                "name": "System Status",
                "tab": "tab_dashboard",
                "order": 1,
                "disp": true,
                "width": "6",
                "collapse": false
            },
            {
                "id": "ui_status_update",
                "type": "ui_text",
                "z": "six-loop-system-main",
                "group": "group_status",
                "order": 1,
                "width": 0,
                "height": 0,
                "name": "Update Constituents Status",
                "label": "Update Constituents",
                "format": "{{msg.payload}}",
                "layout": "row-spread",
                "x": 550,
                "y": 100,
                "wires": []
            },
            {
                "id": "ui_status_ref",
                "type": "ui_text",
                "z": "six-loop-system-main",
                "group": "group_status",
                "order": 2,
                "width": 0,
                "height": 0,
                "name": "Reference Score Status",
                "label": "Reference Score",
                "format": "{{msg.payload}}",
                "layout": "row-spread",
                "x": 550,
                "y": 160,
                "wires": []
            },
            {
                "id": "ui_status_abs",
                "type": "ui_text",
                "z": "six-loop-system-main",
                "group": "group_status",
                "order": 3,
                "width": 0,
                "height": 0,
                "name": "Absolute Score Status",
                "label": "Absolute Score",
                "format": "{{msg.payload}}",
                "layout": "row-spread",
                "x": 550,
                "y": 180,
                "wires": []
            },
            {
                "id": "ui_status_decision",
                "type": "ui_text",
                "z": "six-loop-system-main",
                "group": "group_status",
                "order": 4,
                "width": 0,
                "height": 0,
                "name": "Decision Engine Status",
                "label": "Decision Engine",
                "format": "{{msg.payload}}",
                "layout": "row-spread",
                "x": 550,
                "y": 300,
                "wires": []
            }
        ],
        "configs": []
    }
]